<div class="flex flex-col space-y-2 p-2">
  <ng-container *ngIf="paginatedImages.length > 0; else noImages">
    <div class="flex flex-wrap justify-center">
      <div 
        *ngFor="let image of paginatedImages; let i = index" 
        class="relative group flex-shrink-0"
        [style.width]="imageSize + 'px'"
        [style.height]="imageSize + 'px'"
      >
        <img 
          [src]="paginatedImageUrls[i]" 
          (click)="selectImage(i)"
          [ngClass]="{'border-blue-500 border-2': isSelected(i)}"
          class="cursor-pointer object-cover"
          [style.width]="imageSize + 'px'"
          [style.height]="imageSize + 'px'"
          alt="Image {{ i }}"
        />
        <button 
          (click)="deleteImage(i)"
          class="absolute top-0 left-0 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity"
        >
          X
        </button>
      </div>
    </div>
    <div class="flex justify-between items-center mt-2">
      <button 
        *ngIf="currentPage > 1"
        (click)="previousPage()" 
        [disabled]="currentPage === 1"
        class="bg-blue-500 text-white p-2 rounded"
      >
        Anterior
      </button>
      <span>Página {{currentPage}} de {{totalPages}}</span>
      <button 
        *ngIf="currentPage < totalPages"
        (click)="nextPage()" 
        [disabled]="currentPage === totalPages"
        class="bg-blue-500 text-white p-2 rounded"
      >
        Siguiente
      </button>
    </div>
  </ng-container>
  <ng-template #noImages>
    <p>No hay imágenes disponibles.</p>
  </ng-template>
</div>
