<div class="flex flex-col space-y-2 p-2">
  <ng-container *ngIf="paginatedImages.length > 0; else noImages">
    <div class="flex flex-wrap justify-center">
      <div 
        *ngFor="let image of paginatedImages; let i = index" 
        class="relative group flex-shrink-0 p-2"
        [style.width]="imageSize + 'px'"
        [style.height]="imageSize + 'px'"
      >
        <!-- Image -->
        <img 
          [src]="paginatedImageUrls[i]" 
          (click)="selectImage(i)"
          [ngClass]="{'border-blue-500 border-2': isSelected(i)}"
          class="cursor-pointer object-cover"
          [style.width]="imageSize + 'px'"
          [style.height]="imageSize + 'px'"
          alt="Image {{ i }}"
        />
        <!-- Delete image Button -->
        <button 
          (click)="deleteImage(i)"
          class="absolute top-0 right-0 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity"
        >
          X
        </button>
      </div>
    </div>
    <div class="flex items-center justify-center space-x-4">
      <!-- Button back -->
      <div class="p-1">
        <button 
          *ngIf="currentPage > 1"
          (click)="previousPage()" 
          [disabled]="currentPage === 1"
          class="bg-blue-500 text-white p-2 rounded"
        >
          Previous
        </button>
      </div>

      <!-- Text with nº page -->
      <span class="flex-1 text-center">Page {{currentPage}} of {{totalPages}}</span>
    
      <!-- Button next -->
      <div class="p-1">
        <button 
          *ngIf="currentPage < totalPages"
          (click)="nextPage()" 
          [disabled]="currentPage === totalPages"
          class="bg-blue-500 text-white p-2 rounded"
        >
          Next
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #noImages>
    <p>There aren't images.</p>
  </ng-template>
</div>
