<!-- src/app/components/main-area/main-area.component.html -->
<div class="flex flex-col h-full">
  <div class="flex-1 flex justify-center items-center bg-gray-200">
    <app-canvas 
      [image]="selectedImage">
    </app-canvas>
  </div>
  <div class="h-32 bg-gray-100 border-t border-gray-300 overflow-x-auto">
    <app-image-slider 
      (imageSelect)="selectImage($event)"
      [SaveCurrentImageEvent]="SaveCurrentImageEvent"
      [SaveAllImagesEvent]="SaveAllImagesEvent">
    </app-image-slider>
  </div>
</div>
