<div class="flex flex-col h-full">
  <!-- Canvas Component -->
  <div class="flex-1 flex justify-center items-center bg-gray-200" style="flex: 1 0 75%;">
    <app-canvas 
      [image]="selectedImage">
    </app-canvas>
  </div>
  <!-- Image-Slider Component -->
  <div class="pt-4 h-32 bg-gray-100 border-t border-gray-300 overflow-x-auto" style="flex: 1 0 25%;">
    <app-image-slider 
      (imageSelect)="selectImage($event)"
      [SaveCurrentImageEvent]="SaveCurrentImageEvent"
      [SaveAllImagesEvent]="SaveAllImagesEvent">
    </app-image-slider>
  </div>
</div>