<!-- Main HTML -->

<div class="h-screen flex flex-col">
  <!-- Header 15% upper side -->
  <div class="h-30">
    <app-header (imagesUploaded)="handleFilesUploaded($event)" class="h-full" ></app-header>
  </div>

  <!-- Main container with flexbox -->
  <div class="flex-1 flex flex-col">
    <div class="flex flex-1">
      <!-- Toolbar left (12%) -->
      <div class="w-1/6 bg-gray-100 border-r border-gray-300 overflow-hidden">
        <app-toolbar class="h-full"></app-toolbar>
      </div>
      
      <!-- Main area center (74%) -->
      <div class="flex-1 bg-white p-2 overflow-auto">
        <app-main-area
          [receiveSaveCurrentImage]="receiveSaveCurrentImagefromAPP"
          [receiveSaveAllImages]="receiveSaveAllImagesfromAPP"
          [receiveExportCurrentImage]="receiveExportCurrentImagefromAPP"
          [receiveExportAllImages]="receiveExportAllImagesfromAPP">
          
        </app-main-area>
      </div>
      
      <!-- Sidebar right (12%) -->
      <div class="w-1/6 bg-gray-100 border-l border-gray-300 overflow-hidden">
        <app-sidebar class="h-full"
          (saveImageEvent)="handleSaveCurrentImage()"
          (saveAllImagesEvent)="handleSaveAllImages()"
          (exportImageEvent)="handleExportCurrentImage($event)"
          (exportAllImagesEvent)="handleExportAllImages($event)">
        </app-sidebar>
      </div>
    </div>
  </div>
</div>


<!-- Other Tools -->

<!-- Spinner -->
<div *ngIf="showSpinner" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="border-t-4 border-blue-500 rounded-full w-32 h-32 animate-spin"></div>
</div>

<!-- Modal -->
<div *ngIf="isModalVisible" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div style="overflow-y: auto; max-height: 65%;" class="bg-white rounded-lg shadow-lg max-w-md overflow-auto">
      <h2 style="position: sticky; top: 0px; background-color: white; padding: 15px;" class="text-lg font-bold mb-4">Video Settings</h2>
      <!-- Container for video files -->
      <ng-container *ngIf="videoFilesWithSettings.length > 0; else noVideos">
        <div *ngFor="let fileSettings of videoFilesWithSettings; let i = index" class="mb-4 border-b pb-4 p-4">
          <div class="flex items-center mb-2">
            <span class="ml-2">File name:</span>
            <div class="ml-2">{{fileSettings.file.name}}</div>
          </div>
          <div class="flex items-center mb-2">
            <span class="ml-2">Frames per second:</span>
            <input class="ml-2" type="number" [(ngModel)]="fileSettings.captureInterval" min="1" class="border px-2 py-1 rounded" placeholder="Capture Interval">
          </div>
          <!-- Delete button -->
          <div class="flex justify-end">
            <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="removeFile(i)">Eliminar</button>
          </div>
        </div>
      </ng-container>
      <ng-template #noVideos>
        <div>¿Upload images only?</div>
      </ng-template>
      
      <!-- Buttons confirm and cancel -->
      <div style="background-color: white;" class="flex justify-between p-4 mt-4">
        <button class="bg-gray-300 px-4 py-2 rounded" (click)="cancel()">Cancel</button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="confirm()">Confirm</button>
      </div>
  </div>
</div>

