<div class="p-2 bg-gray-100 border-r border-gray-300 h-full flex flex-col justify-between">
  <!-- sidebar content -->
  <div>
    <!-- Label Name -->
    <label class="block mb-2 font-bold">Label Name:</label>
    <input 
      type="text" 
      [(ngModel)]="label" 
      (ngModelChange)="onLabelChange($event)" 
      class="p-2 border border-gray-300 rounded w-full"
    />

    <!-- Color Picker -->
    <label class="block mt-4 mb-2 font-bold">Color:</label>
    <input 
      type="color" 
      [(ngModel)]="color" 
      (ngModelChange)="onColorChange($event)" 
      class="p-2 border border-gray-300 rounded"
    />

    <!-- Thickness Selector -->
    <label class="block mt-4 mb-2 font-bold">Thickness:</label>
    <input 
      type="number" 
      [(ngModel)]="thickness" 
      (ngModelChange)="onThicknessChange($event)" 
      class="p-2 border border-gray-300 rounded w-full"
    />
  </div>

  <!-- Button for saves -->
  <div class="flex flex-col items-end">
    <!-- Save Current Image Button -->
    <button *ngIf="selectedImageIndex !== null" (click)="saveCurrentImage()" class="p-2 bg-blue-500 text-white rounded w-full mb-2">
      Save Imagen
    </button>
  
    <!-- Save All Images Button -->
    <button *ngIf="images && images.length > 1" (click)="saveAllImages()" class="p-2 bg-blue-500 text-white rounded w-full">
      Save all images
    </button>
  </div>
</div>
